body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

.accueil {
    height: 100%;
    width: 100%;
    background: url(../assets/img/cosmonaute_poisson.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;

}

background url {
    width: 900px;
    height: 1600px;
}